.container_form{
	border: 1px solid #005073;
	padding: 0.5rem;
	background-color: #71c7ec;
}


.container_estimativa{
	border: 1px solid #ffcc00;
	background-color: #ffd27f;
	padding: 0.5rem;
}

	.container_estimativa p{
		font-family: monospace;
		color: green;
	}